ERP_PG_HOST=<<erp_host>>
ERP_PG_PORT=<<erp_port>>
ERP_PG_DB=<<erp_db>>
ERP_PG_USER=<<erp_ro_user>>
ERP_PG_PASSWORD=<<erp_ro_password>>
ERP_STOCK_VIEW=<<erp_stock_view_name>>

ERP_COL_STOCK_ID=stock_id
ERP_COL_STOCK_CODE=stock_code
ERP_COL_STOCK_NAME=stock_name
ERP_COL_STOCK_NAME2=stock_name2
ERP_COL_DESCRIPTION=description
ERP_COL_CATEGORY1=category1
ERP_COL_BIRIM=Birim
ERP_COL_EN=En
ERP_COL_BOY=Boy
ERP_COL_YUKSEKLIK=Yukseklik
ERP_COL_CAP=Cap
ERP_COL_SPECIFIC_GRAVITY=Ozgul Agirlik
ERP_COL_WEIGHT_FORMULA=Agirlik Formul
ERP_COL_SCRAP_FORMULA=Talas Formul
ERP_COL_CINSI=Cinsi
ERP_COL_ALASIM=Alasim
ERP_COL_TAMPER=Tamper
ERP_COL_UPDATED_AT=updated_at

MATCH_PG_HOST=<<match_host>>
MATCH_PG_PORT=<<match_port>>
MATCH_PG_DB=<<match_db>>
MATCH_PG_USER=<<match_user>>
MATCH_PG_PASSWORD=<<match_password>>

ERP_ORDER_ENDPOINT=
ERP_ORDER_API_KEY=
ERP_OFFER_ENDPOINT=
ERP_OFFER_API_KEY=
UYUM_LOOKUP_BASE_URL=http://10.0.1.16:600
UYUM_LOOKUP_USER=WEBSERVIS
UYUM_LOOKUP_PASSWORD=
UYUM_LOOKUP_BEARER_TOKEN=
UYUM_LOOKUP_SECRET_KEY=
RERANK_SERVICE_URL=
OCR_SERVICE_URL=http://ocr-service:8090/ocr
GOOGLE_VISION_API_KEY=
OPENAI_API_KEY=
OPENAI_STRUCTURED_MODEL=gpt-4.1-mini

SYNC_INTERVAL_SECONDS=300
ORDER_DISPATCH_INTERVAL_SECONDS=15
ORDER_DISPATCH_BATCH_SIZE=20
ORDER_DISPATCH_MAX_ATTEMPTS=12
API_PORT=8080
